html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal.active {
    display: flex;
}
.modal-dialog {
    background-color: #052a5e; /* Background color similar to sidebar */
    border: 1px solid #04306e; /* Border color similar to sidebar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    width: 40rem;
    border-radius: 0.5rem;
    overflow: hidden;
}
.modal-header, .modal-footer {
    padding: 1rem;
    background-color: #374151; /* Background color similar to sidebar headers */
    border-bottom: 1px solid #4b5563; /* Border color similar to sidebar headers */
    text-align: right;
    color: #ffffff; /* Text color for better contrast */
}
.modal-body {
    padding: 1rem;
    color: #090b0f; /* Text color similar to sidebar */
}
